@using E_Ticaret.Models;
@{
    Kategori kisim = ViewBag.kategori as Kategori;
    ViewBag.Title = kisim.KategoriAdi;
}
<div class="jumbotron">
    <h2>@kisim.KategoriAdi</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h4>Kategoriler</h4>
            <ul>
                @foreach (var item in (List<Kategori>)ViewBag.KategoriListesi)
            {
                    <li>
                        @Html.ActionLink(item.KategoriAdi, "Kategori", new { id = item.KategoriID })
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">

            @foreach (var item in ViewData.Model)
            {
                <div class="col-md-6" style="border:1px solid #808080">
                    <h4>@item.UrunAdi</h4>
                    <img src="~/images/@(item.UrunID).jpg" style="max-width:100%;height:250px" />

                    <p>
                        <a class="btn btn-default" href="@Url.Action("UrunDetay", "Home", new { id = item.UrunID })">Ürün Detay &raquo;</a>
                        <span style="color:#670e0e;float:right;font-weight:bold;font-size:16px;">@item.UrunFiyati TL</span>
                    </p>
                </div>
            }
        </div>
    </div>
</div>
